{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="content-contact">
    <div class="content-in">
        <div class="contact-name">
            <a>CONTATO</a>
        </div>
        <div class="msg-contact">
            <a style="color: rgb(75, 72, 72);">Entre em contato comigo pelas redes abaixo:</a>
        </div>
        <div class="grid icons">
            <div class="contacts-inline">
                <a href="https://wa.me/5581999914057"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/vandaa_artesanato/"><i class="fab fa-instagram"></i></a>
                <a href="mailto:lucas.carvalho.luz1@gmail.com?Subject=Duvida"><i class="fas fa-envelope-square"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}