* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* For Mobile */
@media screen and (max-device-width: 1024px){

    .container-menu{
        font-size: 13px;
    }

    .img-logo{
        width: 200px;
    }

    .msg-about{
        height: 50vh;
    }

    .content-contact{
        height: 65vh;
        padding: 10px;
    }

}

/* For desktop */
@media screen and (min-device-width: 1024px){

    .img-logo{
        width: 400px;
    }

    .msg-about{
        height: 65vh;
    }

    .content-contact{
        height: 75vh;
    }

}

body{
    background-color:#012727;
    background: rgb(234, 240, 240);
    font-family: 'Roboto', sans-serif;
}

header{
    margin-bottom: 10px;
    height: 20vh;
}

.app{
    border-bottom: 1px solid rgb(226, 226, 226);
    max-width: 1038px;
    margin: 0 auto;
    padding: 25px 11px 20px;
    margin-bottom: 10px;
}

.img-logo{
    
}

.menu{
    top: 0;
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a{
    border-radius: 10px;
    padding: 20px 20px;
    transition: background-color 0.8s, color 0.08s;
}

a{
    text-decoration: none;
    color:#15a3c7;
}

.menu a:active,
.menu a:hover{
    background-color: rgb(202, 233, 233);
    color: #696969;
}

.footer-by{
    padding: 1px;
    color: rgb(71, 88, 103); 
    text-decoration: none;
    position:fixed;
    text-align: center;
    width:100%;
    font-size: 13px;
}

/* CSS DO CONTEUDO Da pagina inicial */
.msg-welcome{
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

.msg-about{
    padding: 20px;
}

.msg-vanda{
    height: 100px;
}

/* CSS PARA A PAGINA DE CONTATO */

.contacts-inline{
    text-align: center;
    cursor: pointer;
    font-size: 7em;
    transition: text-shadow 1s;
}

.contact-name{
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

.msg-contact{
    font-weight: bold;
    padding: 10px;
}

.content-contact{
    width: 100vw;
    margin: 0 auto;
    text-align: center;
}

.content-in{
}

/* CSS PARA OS TECIDOS */

.content{
    margin: 0 auto;
}